In [1]:
%load_ext autoreload
%autoreload 2

## Imports

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import norm

import sys
sys.path.append("py")

In [3]:
import w8_estimation as est 
import w8_LinearModel as lm
import w8_probit_ante as probit
import w8_logit_ante as logit

## Read data and preliminary data selection

In [4]:
data = pd.read_csv('ppcs_cc.csv')

data['intercept'] = 1

assert data.notnull().all().all()

print(f'All years are the same: \t{(data['year'] == 2011).all()}') # all variables are for the same year -> drop year as feature

print(f'Dummy trap in officer race: \t{data['omajother'].sum() + data['omajwhite'].sum() + data['omajhisp'].sum() + data['omajblack'].sum() == len(data)}')  # one-hot encoded -> drop one category to avoid multicollinearity

print(f'Dummy trap in civilian race: \t{data['sother'].sum() + data['swhite'].sum() + data['shisp'].sum() + data['sblack'].sum() == len(data)}')  # one-hot encoded -> drop one category to avoid multicollinearity

print(f'osplit is 0 for all obs: \t{data['osplit'].sum() == 0}')  # no variation -> drop feature

All years are the same: 	True
Dummy trap in officer race: 	True
Dummy trap in civilian race: 	True
osplit is 0 for all obs: 	True

In [5]:
data.sum()

sblack                     420
shisp                      386
swhite                    2808
sother                     185
smale                     2012
sage                    155797
sempl                     2642
sincome                   8224
spop                      5177
daytime                   2532
inctype_lin               7440
omajblack                  231
omajhisp                    91
omajwhite                 3433
omajother                   44
osplit                       0
sbehavior                  247
year                   7639789
anyuseofforce_coded         19
intercept                 3799
dtype: int64

## Data selection

In [6]:
x_labels = ['sblack', # dummy
 'shisp', # dummy
 'swhite', # dummy
 #'sother',
 'smale', # dummy
 'sage', # continuous -> squares does make sense
 'sempl', # dummy
 'sincome', # categorical with numerical interpretation -> squares does make sense
 'spop', # categorical with numerical interpretation -> squares does make sense
 'daytime', # categorical, non-numerical interpretation -> squares doesnt make sense
 'inctype_lin', # categorical
 #'omajblack', # dummy
 #'omajhisp', # dummy
 'omajwhite', # dummy
 #'omajother',
 #'osplit',
 #'year'
 'sbehavior', # dummy
 #'intercept'
 ]

y_label = 'anyuseofforce_coded'

scales = ['sage'] #, 'spop', 'sincome', 'spopsq', 'sincomesq', 'sagesq']
squares = [] # ['sage', 'spop', 'sincome']

for var in squares:
    sq_label = var + 'sq'
    data[sq_label] = data[var]**2
    x_labels += [sq_label]

for var in scales:
    #data[var] = (data[var] - data[var].mean())/data[var].std()
    data[var] = data[var]/10

In [7]:
data[x_labels][data['anyuseofforce_coded'] == 1]

,sblack,shisp,swhite,smale,sage,sempl,sincome,spop,daytime,inctype_lin,omajwhite,sbehavior
6,1,0,0,1,2.8,0,1,4,1,1,1,1
70,0,1,0,1,3.0,1,1,4,0,2,1,1
354,1,0,0,1,4.0,0,3,2,1,2,1,0
419,0,0,1,1,2.3,1,1,2,1,2,1,1
1011,0,0,1,1,2.0,1,3,1,1,2,1,1
1091,0,0,1,1,3.4,0,1,1,0,2,1,1
1834,0,1,0,1,2.2,0,3,3,0,2,1,0
1958,0,1,0,1,4.0,1,1,1,1,1,1,0
2156,0,1,0,0,2.6,0,2,4,1,1,0,1
2558,1,0,0,1,3.2,1,2,1,1,1,1,0
2786,0,0,1,0,2.8,0,2,2,0,2,1,1
2995,0,0,1,1,2.8,1,2,2,0,1,1,0
3009,0,1,0,1,2.7,1,2,2,0,2,1,0
3238,0,1,0,0,1.8,0,2,1,0,1,1,1
3468,0,0,1,1,2.4,0,3,1,0,2,1,1
3506,0,0,1,1,3.0,1,3,1,1,2,1,0
3582,0,0,0,1,5.9,0,3,1,0,2,1,0
3586,0,0,1,1,5.6,0,1,2,1,2,1,0
3644,0,0,1,0,2.0,1,3,2,0,2,1,1

In [8]:
data['omajblackhisp'] = data['omajblack'] + data['omajhisp']
x_labels += ['omajblackhisp']

In [9]:
y = data[y_label]
x = data[x_labels]

In [10]:
y = y.values
x = x.values

In [11]:
assert np.linalg.matrix_rank(x.T @ x) == x.shape[1]  # check for multicollinearity

## Linear Probability Model (LPM)

In [12]:
ols_results =  lm.estimate(y, x, robust_se=True)
ols_tab = lm.print_table((y_label, x_labels), ols_results, title='LPM results')
ols_tab

LPM results
Dependent variable: anyuseofforce_coded

R2 = 0.031
sigma2 = nan

                b_hat      se       t
sblack         0.0067  0.0076  0.8799
shisp          0.0137  0.0088  1.5629
swhite         0.0044  0.0060  0.7273
smale          0.0048  0.0022  2.1556
sage          -0.0013  0.0006 -2.0825
sempl         -0.0053  0.0031 -1.6737
sincome        0.0017  0.0014  1.1998
spop           0.0050  0.0022  2.2966
daytime       -0.0017  0.0028 -0.6008
inctype_lin   -0.0165  0.0088 -1.8606
omajwhite      0.0271  0.0122  2.2215
sbehavior      0.0364  0.0123  2.9665
omajblackhisp  0.0224  0.0125  1.7934

## Probit

In [13]:
theta0 = probit.starting_values(y, x)
print(theta0)

[ 0.01663346  0.0343133   0.01093297  0.01209689 -0.00323519 -0.01314457
  0.00417925  0.01247935 -0.00428019 -0.04114283  0.0677402   0.09092308
  0.05604228]

In [14]:
ll = probit.loglikelihood(theta0, y, x)
ll

array([-0.70983251, -0.73620633, -0.72182501, ..., -0.68060296,
       -0.71655806, -0.68415684])

In [15]:
probit_results = est.estimate(probit.q, theta0, y, x)

Optimization terminated successfully.
         Current function value: 0.023126
         Iterations: 94
         Function evaluations: 1428
         Gradient evaluations: 102

In [16]:
probit_tab = est.print_table(x_labels, probit_results, title=f'Logit, y = {y_label}')
probit_tab

Optimizer succeeded after 94 iter. (1428 func. evals.). Final criterion:  0.02313.
Logit, y = anyuseofforce_coded

                theta      se       t
sblack        -0.1078  0.6129 -0.1759
shisp          0.1004  0.5975  0.1680
swhite        -0.3052  0.5413 -0.5637
smale          0.4630  0.3690  1.2547
sage          -0.1547  0.1458 -1.0606
sempl         -0.4223  0.2558 -1.6513
sincome        0.0241  0.1645  0.1467
spop           0.1715  0.1654  1.0366
daytime       -0.1330  0.2952 -0.4505
inctype_lin   -0.9137  0.3262 -2.8012
omajwhite     -0.6493  1.1234 -0.5780
sbehavior      1.0285  0.3062  3.3589
omajblackhisp -1.2434  1.4030 -0.8863

## Logit

In [17]:
theta0 = logit.starting_values(y, x)
theta0

array([ 0.02661353,  0.05490128,  0.01749275,  0.01935503, -0.00517631,
       -0.02103131,  0.0066868 ,  0.01996697, -0.00684831, -0.06582853,
        0.10838432,  0.14547692,  0.08966765])

In [18]:
logit_results = est.estimate(logit.q, theta0, y, x)

Optimization terminated successfully.
         Current function value: 0.023197
         Iterations: 130
         Function evaluations: 1848
         Gradient evaluations: 132

In [19]:
logit_tab = est.print_table(x_labels, logit_results, title=f'Logit, y = {y_label}')
logit_tab

Optimizer succeeded after 130 iter. (1848 func. evals.). Final criterion:   0.0232.
Logit, y = anyuseofforce_coded

                theta      se       t
sblack        -0.0859  1.4436 -0.0595
shisp          0.5083  1.3714  0.3706
swhite        -0.3755  1.2893 -0.2913
smale          0.9782  0.8015  1.2204
sage          -0.4061  0.3295 -1.2323
sempl         -0.9633  0.5677 -1.6968
sincome        0.0179  0.3586  0.0499
spop           0.4629  0.3508  1.3194
daytime       -0.3859  0.6727 -0.5736
inctype_lin   -1.8960  0.7248 -2.6159
omajwhite     -1.3507  2.3928 -0.5645
sbehavior      2.4623  0.6684  3.6837
omajblackhisp -2.4533  2.9430 -0.8336

## Partial effects: Functions

In [20]:
def current_and_next_value(df, var, value):

    # get unique values and sort
    uniques = np.sort(df[var].unique())

    # assert value is in range
    if value < uniques[0] or value > uniques[-1]:
        raise ValueError(f'Value {value} is out of range [{uniques[0]}, {uniques[-1]})')
    
    # find index of value and next value by going through list of uniques and flooring
    for i, i_v in enumerate(uniques):

        if i_v == value:
            indx = i
            break

        if i_v > value:
            indx = i - 1
            break

    indx_next = indx + 1

    return uniques[indx], uniques[indx_next]

def compute_pe(x_, var, theta_probit, theta_logit, cov_probit, cov_logit):
    
    idx = x_labels.index(var)
    x_low = x_.copy()
    x_high = x_.copy()

    x_low[idx], x_high[idx] = current_and_next_value(data, var, x_[idx])

    # probit
    pe_probit = probit.predict(theta_probit, x_high) - probit.predict(theta_probit, x_low)
    g_probit = norm.pdf(x_high * theta_probit)*x_high - norm.pdf(x_low * theta_probit)*x_low
    se_probit = np.sqrt(g_probit.T @ cov_probit @ g_probit)

    # logit
    pe_logit = logit.predict(theta_logit, x_high) - logit.predict(theta_logit, x_low)
    g = logit.predict(theta_logit, x_high)*(1-logit.predict(theta_logit, x_high))*x_high - logit.predict(theta_logit, x_low)*(1 - logit.predict(theta_logit, x_low))*x_low
    se_logit = np.sqrt(g.T @ cov_logit @ g)

    # wrap up
    pe = np.array([pe_probit, pe_logit])
    se = np.array([se_probit, se_logit])

    return pe, se

In [21]:
b_lpm = ols_tab.b_hat.values
b_probit = probit_tab.theta.values
b_logit = logit_tab.theta.values

In [22]:
cov_lpm = ols_results.get('cov')
cov_probit = probit_results.get('cov')
cov_logit = logit_results.get('cov')

## Partial effects on the average

In [23]:
average_joe = x.mean(axis=0)

In [24]:
df_pe_av = pd.DataFrame(columns=['variable', 'PE_LPM', 'PE_Probit', 'PE_Logit'])
df_pe_av_se = pd.DataFrame(columns=['variable', 'PE_LPM', 'PE_Probit', 'PE_Logit'])

for var in x_labels:

    #if var == 'daytime': continue

    idx = x_labels.index(var)

    pe, se = compute_pe(average_joe, var, b_probit, b_logit, cov_probit, cov_logit)
    
    # Save
    df_pe_av = pd.concat([df_pe_av, pd.DataFrame({'variable': [var],
                                                   'PE_LPM': [ols_tab['b_hat'][var]], 
                                                   'PE_Probit': [pe[0]], 
                                                   'PE_Logit': [pe[1]]})], ignore_index=True)
    
    df_pe_av_se = pd.concat([df_pe_av_se, pd.DataFrame({'variable': [var], 
                                                        'PE_LPM': [np.sqrt(cov_lpm[idx, idx])], 
                                                        'PE_Probit': [se[0]], 
                                                        'PE_Logit': [se[1]]})], ignore_index=True)

/var/folders/33/xqtwrk8s3ws6yhnm9qx48q2m0000gn/T/ipykernel_50948/234821226.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_pe_av = pd.concat([df_pe_av, pd.DataFrame({'variable': [var],
/var/folders/33/xqtwrk8s3ws6yhnm9qx48q2m0000gn/T/ipykernel_50948/234821226.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_pe_av_se = pd.concat([df_pe_av_se, pd.DataFrame({'variable': [var],

In [25]:
df_pe_av

         variable  PE_LPM  PE_Probit  PE_Logit
0          sblack  0.0067  -0.000284 -0.000110
1           shisp  0.0137   0.000342  0.000834
2          swhite  0.0044  -0.001184 -0.000548
3           smale  0.0048   0.001436  0.001312
4            sage -0.0013  -0.000045 -0.000053
5           sempl -0.0053  -0.001734 -0.001602
6         sincome  0.0017   0.000074  0.000024
7            spop  0.0050   0.000559  0.000660
8         daytime -0.0017  -0.000430 -0.000550
9     inctype_lin -0.0165  -0.011390 -0.006896
10      omajwhite  0.0271  -0.004818 -0.003323
11      sbehavior  0.0364   0.014455  0.011997
12  omajblackhisp  0.0224  -0.001245 -0.001495

In [26]:
df_pe_av.select_dtypes(include='number') / df_pe_av_se.select_dtypes(include='number')

      PE_LPM  PE_Probit  PE_Logit
0   0.886087  -0.001170 -0.062069
1   1.560005   0.001442  0.287365
2   0.731715  -0.005742 -0.271736
3   2.138341   0.010859  1.352277
4  -2.092040  -0.016272 -1.158058
5  -1.687090  -0.018584 -1.272984
6   1.220094   0.001135  0.049875
7   2.300395   0.009409  1.181150
8  -0.596612  -0.003682 -0.488698
9  -1.865439  -0.310216 -1.281967
10  2.221866  -0.013272 -0.320544
11  2.969021   0.200821  1.440781
12  1.792091  -0.004817 -1.312156

## Partial effects: Special cases

In [27]:
for col in data.columns:
    if col in x_labels:
        print(f'{col}:  {data[col].unique()}')

sblack:  [1 0]
shisp:  [0 1]
swhite:  [0 1]
smale:  [1 0]
sage:  [1.8 2.  2.2 2.9 2.8 2.6 2.5 3.  4.1 4.4 4.7 4.8 5.2 1.6 1.7 1.9 2.1 2.4
 2.3 2.7 3.1 3.2 3.3 3.4 3.5 3.9 3.7 3.6 4.  4.3 4.2 4.6 4.5 5.3 5.  5.1
 5.4 5.9 5.7 5.8 5.5 5.6 6.1 6.  6.3 6.4 6.2 6.9 6.8 6.6 7.1 7.2 9.  7.8
 8.3 3.8 4.9 6.5 7.  7.3 7.4 8.5 7.7 8.1 8.  7.6 6.7 7.9 8.6 7.5 8.4 8.2
 8.8 8.9]
sempl:  [0 1]
sincome:  [1 2 3]
spop:  [1 4 3 2]
daytime:  [1 0]
inctype_lin:  [2 1]
omajwhite:  [1 0]
sbehavior:  [0 1]
omajblackhisp:  [0 1]

Object of interest: White <-> Black, White <-> Hispanic, Black <-> Hispanic

Number of controls:
omajblackhisp: 2
sbehavior: 2